.header{
    width: 100vw;
    position: absolute;
    top: 0;
    transition: .5s ease-in;    
    z-index: 10;
}

/* logo */
.logo{
    margin-top: 40px;
}

/* navList */
.navlist-logo{
    margin: 2em;
    display: none;
}
.navlist li{
    cursor: pointer;
    padding: 1em 2em;   
    border-bottom: 1px solid #616161;
}
.navlist li:last-child {
    padding-right: 0;
} 

.navlist li a{
    font-size: 20px;
    font-weight: 300;
}
.navlist li:hover{
    border-color: #c6a77f;
}
.navlist li a:hover{
    color: #c6a77f; 
}





@media (max-width: 999px ){
    .navlist-logo{        
        display: block;
    }
    .navlist li{        
        border: none;        
    }
    .navlist li a{
        display: block;
    }
    .navlist li:hover{
        background: #c6a77f;
    }
    .navlist li a:hover{
        color: #616161; 
    } 
}