.header{
    width: 100vw;
    position: absolute;
    padding-top: 1em;
    top: 0;
    transition: .5s ease-in;    
    z-index: 10;
}


/* logo */
.logo{
    margin-top: 30px;
}

/* navList */
.navlist-logo{
    margin: 2em;
    display: none;
}

.navlist li a{
    display: block;
    font-size: 20px;
    font-weight: 300;
    padding: 0em 2em 1em 2em;
    border-bottom: 1px solid #616161;    
}
.navlist li:nth-child(1) a{
    padding-left: 0px;
}
.navlist li:nth-child(5) a{
    padding-right: 0px;
}
.navlist li a:hover{
    color: #c6a77f;
    border-color: #c6a77f; 
}





@media (max-width: 999px ){
    nav.navbar{
        justify-content: center;
        align-items: center;
    }
    .navlist-logo{        
        display: block;
    }
    .navlist li{        
        border: none;                
    }
    .navlist li a{
        display: block;
        text-align: center;
        padding-top: 1em;        
    }
    .navlist li:nth-child(1) a{
        padding-left: 2em;
    }
    .navlist li:nth-child(5) a{
        padding-right: 2em;
        border-bottom: none;
    }
    .navlist li a:hover{
        background: #c6a77f;
        color: #fff; 
    } 
}